@media screen and (max-width: 480px) and (min-width: 300px) {

}

@media screen and (max-width: 1000px) and (min-width: 700px) { 

}

.column {
  width: 400px;
  float: left;
  padding: 20px;
}

.notdog p {
  background-color: blue;
}

.dog p {
  background-color: rgb(50, 114, 110);
}

.notdog p{
    font-style: italic;
}

.dog p{
    font-style: oblique;
}


.column {
  float: left;
  width: 200px;
  padding: 10px;
}

.column h1 {
  text-emphasis: bold;
}